<%= form_for @bid do |f| %>
  <% if @bid.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bid.errors.count, "error") %> prohibited
      this bid from being saved:</h2>
    <ul>
    <% @bid.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<hr>
<h1>Start here:</p>
 <p>
    <%= f.label :your_name %><br>
    <%= f.text_field :maker%>
  </p>
 <hr> 
 <p>ADDRESS of primary house or lot at auction<p>
   <p>
    <%= f.label :street_number %><br>
    <%= f.text_field :street_number %>
  </p>

   <p>
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </p>
  <hr>
     <p>
    <%= f.label :your_phone_number %><br>
    <%= f.text_field :maker_phone %>
  </p>
 
 <p>
    <%= f.label :available_funds %><br>
    <%= f.number_field :available_funds %><br>Please use a (-) sign to request financial support for back taxes. example -1234.56
  </p>
  <hr>
  <p>
    <%= f.label :your_plan_for_the_property %><br>
    <%= f.text_area :plan %>
    <br>if there are multiple lots of interest, please list them here.<p>

  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>
