<%= form_for @bid do |f| %>
  <% if @bid.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bid.errors.count, "error") %> prohibited
      this bid from being saved:</h2>
    <ul>
    <% @bid.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<hr>
<p>Start here:</p>
 <p>
    <%= f.label :lot_holder_name_or_contact %><br>
    <%= f.text_field :maker%>
  </p>
 <hr> 
 <p>ADDRESS w/ near available lots<p>
   <p>
    <%= f.label :street_number %><br>
    <%= f.text_field :street_number %>
  </p>

   <p>
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </p>
  <hr>
   <p>Contact & Funding Information<p>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :maker_phone %>
  </p>
 
  <p>
    <%= f.label :bitcoin_addresss_for_funding %> <a href="https://blockchain.info/wallet/new" target="_blank"> (GET A BITCOIN ADDRESS HERE)</a><br>
    <%= f.text_field :btc_address %>
  </p>
  
 <p>
    <%= f.label :available_funds %><br>
    <%= f.number_field :available_funds %>
  </p>
  <hr>
  <p>
    <%= f.label :your_plan_for_the_property %><br>
    <%= f.text_area :plan %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>
