<%= form_for @bid do |f| %>
  <% if @bid.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bid.errors.count, "error") %> prohibited
      this bid from being saved:</h2>
    <ul>
    <% @bid.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 <p>
    <%= f.label :community_leader_or_group_name %><br>
    <%= f.text_field :maker%>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :maker_phone %>
  </p>
 
  <p>
    <%= f.label :bitcoin_addresss %><br>
    <%= f.text_field :btc_address %>
  </p>
  
 <p>
    <%= f.label :available_funding %><br>
    <%= f.text_field :total_funds %>
  </p>
  
  <p>
    <%= f.label :your_plan_for_the_property %><br>
    <%= f.text_area :plan %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>
