<div class="span4">
<h1>#pROXY</h1><img src="/assets/cat.jpg"/>
<h4>[detroit v.02 alpha]</h4> <h3>an open proxy bid app</h3>
<p>In 2014, Wayne County increased the auction entry ticket cost by 300%. Many properties went unsold in 2013 with a minimum bid of $500.
After auction players have stacked their chips, those without the buy in ticket funds are left to watch their neighborhood sell off to the highest bidder. 
<p>
If you are reading this, you are likely interested in Detroit property ownership and are looking for a last minute solution to making bids in this year's WAYNE COUNTY auction.<p>
pROXY the bid kitten has arrived as a working proof of concept model as a proxy bid solution for community development groups.<p>
<hr>
<img src="/assets/farm_land.jpg"/><br>
<h3>The idea is simple, lets connect, strategize and unite resources, knowledge and interests while increasing the acreage of what we know is possible.</h3>
<hr>
<p>pROXY can network resources and incentivise transparency in an ANY auction scenario. She enjoys indexing community bid requests while displaying them in AUCTION END order and
tracking a number of other variables regarding your "BID REQUESTS." pROXY is a real tool for proxy bidding networks.<p>
Anyone can create a bid request FREELY below. It doesn't mean we will win your bid but we will do our best and will transfer the property to you if you choose to purchase it.
The bid request form allows you to share your contact information, your story/plan, your max willingness to pay AND the amount our bid team has received for you.<p>
If pROXY is utilized (BY YOU!), we will have a party on each day of the auction to network, celebrate and collect any funds available from bid makers like yourself.
Our bid locations will be announced on the morning of 10/20/14) to meet and finalize our bid team, review strategy and COLLECT FUNDS for BID REQUESTS.<p>
</div>
<div class="span8"><p>
A bid on pROXY can be used to share your interest in ownership or to invite "IN AUCTION" dialogue.
pROXY also makes a great resource for developers who don't want to infringe on land that residents would like to claim for a community purpose.
<p>
This resource was inspired specifically by the Brightmoor community of Detroit and WAYNE COUNTY.
<p>
Please use the button BELLOW to submit a "bid request" which indicates that you have an interest in aligning resources to take ownership of a property in your neighborhood.
<hr>
<h14><%= link_to 'CREATE BID REQUEST', new_bid_path, class: "btn btn-large btn-default" %></h14><p>
<p>If used, pROXY will support your developing community with distributed transparency to create opportunities for collaboration and perhaps... <br> <h1> a whole new model for property redistribution!</h1><p>
As always, how big this gets is up to you and WE the people.<hr>
<h11>Anonymous, international and intergalactic support are greatly appreciated. We promise to keep our projects progressive and open sourced.<p>
<br>We only accept digital currency. </h11><p>
To thank you for your support, we are offering shares of the properties we acquire and develop using your funds through <a href="http://www.dogeparty.io">DOGEPARTYCOIN(XDP)</a><p>
Please send an email to <a href="mailto:whalebone.earth@gmail.com">WHALEBONE</a> with your XDP address (free at dogeparty.io) and the address you will be using to send coin. We will then transfer digital assets in proportion to your investment based on the list of assets found HERE (arriving shorlty).
<p>
 <h3>Thank you!</h3><p>
<h11>BITCOIN:</h11><h3><a href="https://blockchain.info/address/1AVrz8ZNEzqrUcHJ9gV7NTLVW1bHdu3Yh9">1AVrz8ZNEzqrUcHJ9gV7NTLVW1bHdu3Yh9</a></h3>
<hr>
<h11>STARTCOIN:</h11><h3><a href="http://explorer.startcoin.org/address/scatHW4kqsxtEVuwU2WoeFHW67QDZB95VE">scatHW4kqsxtEVuwU2WoeFHW67QDZB95VE</a></h3>
<hr>
<h11>KORECOIN:</h11><h3><a href="http://explorer.korecoin.org/address/KH29egMB2wGSeUe6jCTfMcPSfxP9uGQokT">KH29egMB2wGSeUe6jCTfMcPSfxP9uGQokT</a></h3>
<hr>
<h4>Interested in joining our team of proxy bidders or dev team? Please send an email to pROXY at </h4><h1><a href="mailto:whalebone.earth@gmail.com">[mgmt]</a></h1>
<hr><p>
The data posted in this table is not filtered or edited. The content cannot be edited, only deleted by proof of email and direct contact with our database operators.
</div>
</div>

<hr>
<h1>BIDS BY STREET #</h1><p>
<table class="table table-striped">
  <tr valign="middle">
    <th>PROXY BIDS BY STREET #</th>
	<th>STREET NAME</th>
	<th>AUCTION END</th>
	<th>CLAIMED BY</th>
	<th>AUCTION ID</th>
	<th>$</th>
	<th></th>
    </tr>
  <tr valign="middle">
  <% for bid in @bids %>
	<td align="center"><%= bid.street_number %></td>
	<td align="center"><%= bid.street_name %></td>
	<td align="center"><%= bid.auction_end %></td>
	<td align="center"><%= bid.maker %></td>
	<td align="center"><%= bid.auction_id %></td>
	<td align="center"><%= bid.total_funds %></td>
	<td align="center"><%= link_to 'details', bid %></td>
  </tr>
 <% end %>
</table>

<a href="mailto:whalebone.earth@gmail.com">[ARC]</a>

