<img src="/assets/cat.jpeg" align="left"><br>
<h1>pROXY</h1><h4>[the bid kitten]</h4> <h3>a people's proxy bid app</h3>
<p>In 2014, Wayne County increased the auction entry ticket cost by 300%. <p>
Many properties went unsold in 2013 with a minimum bid of $500.<p>
After auction players have stacked their chips, those without the buy in ticket funds are left to watch their neighborhood sell off to the highest bidder. 
<p>
If you are reading this, you are likely interested in Detroit property ownership and are looking for a last minute solution to making bids in this year's WAYNE COUNTY auction.<p>
pROXY the bid kitten has arrived as a working proof of concept model as a proxy bid solution for community development groups.<p>
<hr>
<h3>The idea is simple, lets connect, strategize and unite resources, knowledge and interests while increasing the acreage of what we know is possible.</h3>
<hr>
pROXY can network resources and incentivise transparency in an auction scenario.<p>
pROXY is just in time . . . please use and enjoy.<p>
A bid on pROXY can be used to share your intent to bid while creating an opportunity for "IN AUCTION" dialogue.<p>
pROXY is also a great resource for developers who don't want to infringe on land that is desired to be used as farmland by its local residents.<br>

this lot in your developing community with decentralized transparency so that LOCAL interest can directly compete with outside, big pocket investors. <p>
This resource has been developed for Brightmoor as a model to maximize local bidding assets toward community members interested in farming. <p>
<img src="/assets/future_farms.jpeg" />
pROXY enjoys indexing community bid requests while displaying them in AUCTION END order. She also enjoys tracking a number of other variables about "BID REQUESTS" to serve as a real tool for proxy bidding.<p>
You can create a claim using the button below.
<p>
If the app is utilized, we will have a party on each day of the auction at (9PM) to celebrate a new kind of gorilla auctioning whilst tag team bidding.<p>
Our bid locations (locations TBD HERE on morning of 10/19/14) to meet and finalize our bid team, review strategy and COLLECT FUNDS for BID REQUESTS.<p>

Please use the entry form below to submit your "claim" which indicates that you have an interest in aligning resources to take ownership of a property in your neighborhood.
<hr>
<h14><%= link_to 'CREATE NEW CLAIM', new_bid_path, class: "btn btn-large btn-default" %></h14>
<hr>
<h11>Anonymous, international and intergalactic support are all greatly appreciated and if we crowd source a big enough bid, we promise to keep our future projects progressive and open sourced.
<br>We accept the following digital coins. </h11><p>
To thank you for your support, we are offering shares of the properties we acquire and develop using your funds through <a href="http://www.dogeparty.io">DOGEPARTYCOIN(XDP)</a><p>
Please send an email to <a href="mailto:whalebone.earth@gmail.com">WHALEBONE</a> with your XDP address (free at dogeparty.io) and the address you will be using to send us coin.
<p>
 <h3>Thank you!</h3><p>
<h11>BITCOIN:</h11><h3>1AVrz8ZNEzqrUcHJ9gV7NTLVW1bHdu3Yh9</h3>
<hr>
<h11>KORECOIN:</h11><h3>KH29egMB2wGSeUe6jCTfMcPSfxP9uGQokT</h3>
<hr>
<h11>STARTCOIN:</h11><h3>scatHW4kqsxtEVuwU2WoeFHW67QDZB95VE</h3>
<hr>
<h4>
If you are interested in joining our team of proxy bidders or technologists, please email <a href="mailto:whalebone.earth@gmail.com">[arc]</a></h4><hr><h4>
The data posted in this table is not filtered or edited. The content cannot be edited, only deleted by proof of email and direct contact with our database operators.</h4>
<h1>BIDS BY STREET #</h1><p>
<table class="table table-striped">
  <tr valign="middle">
    <th>PROXY BIDS BY STREET #</th>
	<th>STREET NAME</th>
	<th>AUCTION END</th>
	<th>CLAIMED BY</th>
	<th>AUCTION ID</th>
	<th>FUNDS</th>
    </tr>
  <tr valign="middle">
  <% for bid in @bids %>
	<td align="center"><%= bid.street_number %></td>
	<td align="center"><%= bid.street_name %></td>
	<td align="center"><%= bid.auction_end %></td>
	<td align="center"><%= bid.maker %></td>
	<td align="center"><%= bid.auction_id %></td>
	<td align="center"><%= bid.total_funds %></td>
  </tr>
 <% end %>
</table>
<hr>
<h1>PROXY BIDS BY AUCTION END</h1><p>
<p>
<table class="table table-striped">
  <tr valign="middle">
    <th>STREET #</th>
	<th>STREET NAME</th>
	<th>AUCTION END</th>
	<th>CLAIMED BY</th>
	<th>AUCTION ID</th>
	<th>FUNDS</th>
    </tr>
  <tr valign="middle">
  <% for bid in @bids %>
	<td align="center"><%= bid.street_number %></td>
	<td align="center"><%= bid.street_name %></td>
	<td align="center"><%= bid.auction_end %></td>
	<td align="center"><%= bid.maker %></td>
	<td align="center"><%= bid.auction_id %></td>
	<td align="center"><%= bid.total_funds %></td>
  </tr>
 <% end %>
</table>
<small><a href="mailto:whalebone.earth@gmail.com">[arc]</a></small>



