<hr>
<h1>BIDS BY COMMUNITY NAME</h1><p>
<p>
<table class="table table-striped">
  <tr align="middle">
  	<th>NAME</th>
	<th>FUNDS</th>
	<th>BITCOIN</th>
	<th></th>
	<th></th>
    </tr>
  <tr valign="middle">
 <% for bid in @bids %>
  	<td align="center"><%= bid.maker %></td>
	<td align="center"><%= bid.total_funds %></td>
	<td align="center"><%= bid.btc_address %></td>
	<td align="center"><%= link_to 'details', bid %></td>
	<td align="center"><%= link_to 'edit', edit_bid_path %></td>
  </tr>
 <% end %>
</table>