<h1>SIGN.POSTS</h1>
<hr>
<h4>INTERSECTIONS</h4>
<table class="table table-striped">
  <tr align="middle">
    	<th align="center">STREETS</th>
  	<th align="center">POSTA</th>
  	<th></th>
	<th align="center">PAID?</th>
	<th></th>
	<th></th>
	<th></th>
    </tr>
  <tr valign="middle">
 <% for intersection in @intersections %>
        <td align="center"><%= intersection.street_one %> AND <%= intersection.street_two %></td>
        <td align="center"><%= intersection.messenger %></td>
        <td align="center"><%= intersection.contact %></td>
	<td align="center"><%= intersection.payout %></td>
	<td align="center"><%= link_to 'details', intersection %></td>
	<td align="center"><%= link_to 'edit', edit_intersection_path(intersection) %></td>
        <td align="center"><%= link_to 'delete', intersection_path(intersection), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
 <% end %>
 <hr>
 <%= link_to 'ADD', new_intersection_path %>
 <%= link_to 'MGMT', :mgmt %> 

