<%# add navigation links to this file %>
  <li role="presentation" class="active"><%= link_to 'ABOUT', :about %></li>
  <li role="presentation" class="active"><%= link_to 'SUPPORT', :support %></li>
  <li role="presentation" class="active"><%= link_to 'CROWDFUND', :crowdfund %></li>
  <li role="presentation" class="active"><%= link_to 'BID', new_bid_path %></li>
  <li role="presentation" class="active"><%= link_to 'TEAM VIEW', bids_path %></li>


  


