<!DOCTYPE html>
<html>
  <head>
  <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|League+Script|Codystar|Erica+One|Lily+Script+One|La+Belle+Aurore|Sigmar+One|Monofett|Press+Start+2P|Diplomata|Ultra|Bangers|Share+Tech+Mono|Over+the+Rainbow|Miltonian|Inconsolata' rel='stylesheet' type='text/css'>
    <title>turtledove|DETROIT<%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>  
  </head>
  <body>
  <%= render 'layouts/messages' %>
<header>
<%= render 'layouts/navigation' %>
</header>
<div class="container">
<%= yield %>

</div>


  </body>

</html>
