<% provide(:title, 'assets') %>
<% provide(:quote, 'In the future, everyone will have their own currency.') %>

<h4><%= @coin.title %></h4><br> 
<img src="<%= @coin.image_1 %>"/>
<h4>#xdp<%= @coin.xdp_name %></h4><br> 
XDPchain link:<a href="http://dogepartychain.info/asset/<%= @coin.xdp_name %>">http://dogepartychain.info/asset/<%= @coin.xdp_name %></a>
<hr>
XDP: <h3><%= @coin.xdp_address %></h3>
<hr>
<img src="<%= @coin.image_2 %>"/><br
FUND WITH BTC: <h3><%= @coin.btc_address %></h3>
<hr>
<img src="<%= @coin.image_3 %>"/>
<hr>
<h13><%= @coin.info %></h13>
<hr>
<h11> POSTED BY: </h11><br>

<h8><%= @coin.dev_name %> |  <a href="mailto:<%= @coin.dev_contact %>"><%= @coin.dev_contact %></a></h8><br>

<hr>
<small>Whalebone verified? : <%= @coin.wbi_verified %> </small>
<hr>
<h11> PROOF OF RESERVE: <%= @coin.capital_assets_value %> </h11> <p>
<h11> PHYSICAL CAPITAL ASSETS: <%= @coin.capital_assets_value %> </h11> <p>
<h11>Proof of Reserve:</h11>
<hr>
<h7><%= link_to 'Back | << |', coins_path %></h7>
